/* PUDSEY TEST FINAL */

/* Add this to App.css or create a new CSS file */
#hexmap2 { 
  height: 500px; 
  width: 100%; 
  animation-duration: 0.3s; 
}
#hexmap2 .hex-cell { 
  stroke: white; 
  stroke-width: 2; 
  transition: fill 0.3s ease-in, stroke 0.3s ease-in, stroke-width 0.3s ease-in; 
}
/* Make the hexagon larger when hovered */
#hexmap2 .hover path { 
  stroke-width: 4px; 
  transform: scale(1.75); 
}
/* Set the on and off styles for the text labels */
#hexmap2 .hex-label tspan.on { 
  display: none; 
}
#hexmap2 .hex-label tspan.off { 
  display: block; 
}
#hexmap2 .hex-label tspan.big { 
  font-weight: bold; 
  font-size: 1.2em; 
}
#hexmap2 .hover .hex-label tspan.on { 
  display: block; 
}
#hexmap2 .hover .hex-label tspan.off { 
  display: none; 
}

#hexmap3 {
  height: 800px;
  width: 100%;
  margin-top: 1em;
  position: relative;
  animation-duration: 0.3s;
}

#hexmap3 .hex-cell {
  stroke: black;
  stroke-width: 0;
  transition: fill 0.2s ease-in, stroke 0.2s ease-in, stroke-width 0.2s ease-in;
}

#hexmap3 .hover path {
  stroke-width: 4px;
}

@media only screen and (max-width: 700px) {
  /* Don't bother with labels if it is too small */
  #hexmap3 .hex-label {
    display: none;
  }
}

#hexmap3 .tooltip {
  position: absolute;
  text-align: center;
  background: black;
  color: white;
  padding: 0.25em 0.5em;
  transform: translate3d(-50%, 50%, 0);
  transition: left 0.1s linear, top 0.1s linear;
  border-radius: 4px;
}

#hexmap3 .tooltip::after {
  content: "";
  position: absolute;
  bottom: auto;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  left: 50%;
  top: 0%;
  transform: translate3d(-50%, -100%, 0);
  border-color: transparent;
  border-bottom-color: black;
}
