.search-bar {
  display: flex;
  margin-bottom: 10px;
  height: 40px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  height: 100%;
  box-sizing: border-box;
}

.search-button {
  width: 40px;
  height: 100%;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search-button img.search-icon {
  width: 20px;
  height: 20px;
}
