.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 40vw;
  padding: 10px;
  background-color: #f0f0f0;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  margin-bottom: 10px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.search-button {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img.search-icon {
  width: 20px;
  height: 20px;
}

.incomplete-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.picks-complete {
  margin-top: auto;
}

.results {
  display: flex;
  gap: 20px;
}

.results-box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-align: center;
}

.results-box.win {
  background-color: #007bff;
  color: white;
}

.results-box.loss {
  background-color: #6c757d;
  color: white;
}
